<!-- <div>
    <div class="nav-heading">Prep-Ease</div>
</div> -->
<div class="container-fluid">
  <div style="background-color: #F1F1F1;" class="left-container">
    <div>
      <div class="nav-heading">
        Prep-Ease
        <!-- <li class="nav-heading">Prep-Ease</li> -->
      </div>
      <div style="display: flex;" class="left-top-container">
          <span><img class="profile-icon" src="../../assets/images/profile-icon.png" alt=""/></span>
        <span class="my-profile">My Profile </span>
      </div>
    </div>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a class="active" href="#dashboard">Dashboard</a></li>
      <li><a href="#discussionforum">Discussion Forum</a></li>
      <li><a href="#videos">Videos</a></li>
      <li><a href="#result">Result</a></li>
      <!-- <li><a href="#about">About</a></li> -->
    </ul>
  </div>
  <div class="ut-container">
  <h2 style="text-align: center;" class="upcoming-tests">Upcoming Tests</h2>
  </div>
  <!-- <div style="margin-left:21vw;">
    
    <h2 style="text-align: center;">Dashboard</h2>
    
    <div style="display:flex;" class="cards-container">
      <div class="card">
        <div style="display:block;">
          <span style="font-size:1em">Upcoming Tests</span>
        </div>
      </div>
      <div class="card">
        <div style="display:block;">
          <span style="font-size:1em">Assisgnments</span>
        </div>
      </div>
      <div class="card">
        <div style="display:block;">
          <span style="font-size:1em">Evaluations</span>
        </div>
      </div>
      <div class="card">
        <div style="display:block;">
          <span style="font-size:1em">My Skills</span>
        </div>
      </div> -->
    <div class="test-cards-container">
      <div class="test-cards">
        <div class="test-heading"><span class="heading-content">Continuity and Differentiability.</span></div>
        <div class="test-details"><span>continuous functions, sum, difference, product and quotient of continuous functions, differentiable functions, chain rule, derivative of some functions, logarithmic differentiation, Rolle's theorem, Mean value theorem</span></div>
        <div class="tdetails-bottom">
        <span class="bottom-elements">Class: 12th</span>
        <span class="bottom-elements">Subject: Maths</span>
        <span class="bottom-elements">Start Date: 2nd Feb,2020</span>      
        <span class="bottom-elements">End Date: 3rd Mar,2020</span>
         <button class="start-button" type="submit">Start Test</button>
        </div>
      </div>
       <div class="test-cards">
        <div class="test-heading"><span class="heading-content">Continuity and Differentiability.</span></div>
        <div class="test-details"><span>continuous functions, sum, difference, product and quotient of continuous functions, differentiable functions, chain rule, derivative of some functions, logarithmic differentiation, Rolle's theorem, Mean value theorem</span></div>
        <div class="tdetails-bottom">
        <span class="bottom-elements">Class: 12th</span>
        <span class="bottom-elements">Subject: Maths</span>
        <span class="bottom-elements">Start Date: 2nd Feb,2020</span>      
        <span class="bottom-elements">End Date: 3rd Mar,2020</span>
         <button class="start-button" type="submit">Start Test</button>
        </div>
      </div>
       <div class="test-cards">
        <div class="test-heading"><span class="heading-content">Continuity and Differentiability.</span></div>
        <div class="test-details"><span>continuous functions, sum, difference, product and quotient of continuous functions, differentiable functions, chain rule, derivative of some functions, logarithmic differentiation, Rolle's theorem, Mean value theorem</span></div>
        <div class="tdetails-bottom">
        <span class="bottom-elements">Class: 12th</span>
        <span class="bottom-elements">Subject: Maths</span>
        <span class="bottom-elements">Start Date: 2nd Feb,2020</span>      
        <span class="bottom-elements">End Date: 3rd Mar,2020</span>
         <button class="start-button" type="submit">Start Test</button>
        </div>
      </div>
       <div class="test-cards">
        <div class="test-heading"><span class="heading-content">Continuity and Differentiability.</span></div>
        <div class="test-details"><span>continuous functions, sum, difference, product and quotient of continuous functions, differentiable functions, chain rule, derivative of some functions, logarithmic differentiation, Rolle's theorem, Mean value theorem</span></div>
        <div class="tdetails-bottom">
        <span class="bottom-elements">Class: 12th</span>
        <span class="bottom-elements">Subject: Maths</span>
        <span class="bottom-elements">Start Date: 2nd Feb,2020</span>      
        <span class="bottom-elements">End Date: 3rd Mar,2020</span>
         <button class="start-button" type="submit">Start Test</button>
        </div>
      </div>
       <div class="test-cards">
        <div class="test-heading"><span class="heading-content">Continuity and Differentiability.</span></div>
        <div class="test-details"><span>continuous functions, sum, difference, product and quotient of continuous functions, differentiable functions, chain rule, derivative of some functions, logarithmic differentiation, Rolle's theorem, Mean value theorem</span></div>
        <div class="tdetails-bottom">
        <span class="bottom-elements">Class: 12th</span>
        <span class="bottom-elements">Subject: Maths</span>
        <span class="bottom-elements">Start Date: 2nd Feb,2020</span>      
        <span class="bottom-elements">End Date: 3rd Mar,2020</span>
         <button class="start-button" type="submit">Start Test</button>
        </div>
      </div>
       <div class="test-cards">
        <div class="test-heading"><span class="heading-content">Continuity and Differentiability.</span></div>
        <div class="test-details"><span>continuous functions, sum, difference, product and quotient of continuous functions, differentiable functions, chain rule, derivative of some functions, logarithmic differentiation, Rolle's theorem, Mean value theorem</span></div>
        <div class="tdetails-bottom">
        <span class="bottom-elements">Class: 12th</span>
        <span class="bottom-elements">Subject: Maths</span>
        <span class="bottom-elements">Start Date: 2nd Feb,2020</span>      
        <span class="bottom-elements">End Date: 3rd Mar,2020</span>
         <button class="start-button" type="submit">Start Test</button>
        </div>
      </div>
       <div class="test-cards">
        <div class="test-heading"><span class="heading-content">Continuity and Differentiability.</span></div>
        <div class="test-details"><span>continuous functions, sum, difference, product and quotient of continuous functions, differentiable functions, chain rule, derivative of some functions, logarithmic differentiation, Rolle's theorem, Mean value theorem</span></div>
        <div class="tdetails-bottom">
        <span class="bottom-elements">Class: 12th</span>
        <span class="bottom-elements">Subject: Maths</span>
        <span class="bottom-elements">Start Date: 2nd Feb,2020</span>      
        <span class="bottom-elements">End Date: 3rd Mar,2020</span>
         <button class="start-button" type="submit">Start Test</button>
        </div>
      </div>
       <div class="test-cards">
        <div class="test-heading"><span class="heading-content">Continuity and Differentiability.</span></div>
        <div class="test-details"><span>continuous functions, sum, difference, product and quotient of continuous functions, differentiable functions, chain rule, derivative of some functions, logarithmic differentiation, Rolle's theorem, Mean value theorem</span></div>
        <div class="tdetails-bottom">
        <span class="bottom-elements">Class: 12th</span>
        <span class="bottom-elements">Subject: Maths</span>
        <span class="bottom-elements">Start Date: 2nd Feb,2020</span>      
        <span class="bottom-elements">End Date: 3rd Mar,2020</span>
         <button class="start-button" type="submit">Start Test</button>
        </div>
      </div>
      
      
    </div>
    
    </div>