<div class="main-container">
    <div class="left-panel">
      <div class="test-details">
        <div class="test-heading">{{test_id}}</div>
        <span class="class">Class: 12th</span>
        <span class="subject">Subject: {{question.subjectName}}</span>
      </div>
      <hr>
      <div *ngFor="let question of questionPaper; let i = index;">
        <div>
          <button class="question-button" (click)="displayQuestion(i)">{{i+1}}</button>
          <!-- <button class="question-button">2</button>
          <button class="question-button">3</button> -->
        </div>
        <!-- <div>
          <button class="question-button">4</button>
          <button class="question-button">5</button>
          <button class="question-button">6</button>
        </div>
        <div>
          <button class="question-button">7</button>
          <button class="question-button">8</button>
          <button class="question-button">9</button>
        </div>
        <div>
          <button class="question-button">10</button>
          <button class="question-button">11</button>
          <button class="question-button">12</button>
        </div>
        <div>
          <button class="question-button">13</button>
          <button class="question-button">14</button>
          <button class="question-button">15</button>
        </div>
        <div>
          <button class="question-button">16</button>
          <button class="question-button">17</button>
          <button class="question-button">18</button>
        </div>
        <div>
          <button class="question-button">19</button>
          <button class="question-button">20</button>
        </div> -->
      </div>
      <div style="padding:0.5em;">
        <button class="submit-test" (click)="submitPaper()">Submit</button>
      </div>
    </div>
    <div class="right-panel"></div>
    <div>
      <div class="question-card"><span>Question {{questionNumber+1}}:</span>
        <div style="margin-top: 0.5em;">
          <span>{{ question.question }} ?  
            </span>
          <span><img src="" alt=""></span>
        </div>
      </div>
      <div style="margin-top: 2em; margin-left: 1.3em; font-size: 1.1em;">
        <form>
          <div>Choose the correct answer from the options given below:</div>
          <input type="radio" name="option" [(ngModel)]="answer" value="option1" class="radio" (click)="getOption($event)">{{ question.option1 }}<br>
          <input type="radio" name="option" [(ngModel)]="answer" value="option2" class="radio" (click)="getOption($event)">{{ question.option2 }}<br>
          <input type="radio" name="option" [(ngModel)]="answer" value="option3" class="radio" (click)="getOption($event)">{{ question.option3 }}<br>
          <input type="radio" name="option" [(ngModel)]="answer" value="option4" class="radio" (click)="getOption($event)">{{ question.option4 }}<br>
          <!-- <div style="display: flex; justify-content: center; margin-right:3em; margin-top: 5em;"> -->
            <div>
        <!-- <a href="" style="margin-rig">Previous</a> -->
          <input type="submit" value="Save" class="radio" (click)="savedQuestions($event)" [disabled]="!answer">
        <!-- <a href="/">Next</a> -->
      </div>
  </form>
      </div>
      
    </div>
  </div>