<div class="container1">
    <!-- <hr class="hr"> -->
    <div class="left">
      <div class="div1">PrepEasy</div>
      <div class="div2">
        <span class="div2a">Greatness comes</span>
        <br>
        <span class="div2b"> from inside...</span>
      </div>
      <div class="dual-login">
        <div class="dual-left">
          <h2 class="students-heading">For Students</h2>
          <p class="text">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries
            for previewing
            layouts and visual mockups.</p>
          <button type="submit" (click)="navigateToLogin('teacher')">Start learning!</button>
        </div>
        <div class="dual-right">
          <h2 class="teachers-heading">For Teachers</h2>
          <p class="text">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries
            for previewing
            layouts and visual mockups.</p>
          <button type="submit">Teach now!</button>
        </div>
      </div>
      <div class="copyright">Copyright 2020 PREPEASY | Privacy Policy</div>
    </div>
    <div class="right">
      <div class="right1"></div>
    </div>
  </div>